<template lang="html">
  <div>
    <div v-if="isLoaded">
      <div v-if="city && forecast">
        <AppHeader>
          {{ city.name }}, {{ city.country }}
          <FavouriteButton slot="action" :value="city.isFavourite" @input="favouriteLocation" />
        </AppHeader>
        <div class="forecast-container">
          <DayForecast v-for="day in forecast.days" :key="day.date" :day="day" />
        </div>
      </div>
      <div v-else>
        Loading...
      </div>
    </div>
    <div v-else>
      Loading...
    </div>
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader.vue';
import DayForecast from '../components/DayForecast.vue';
import FavouriteButton from '../components/FavouriteButton.vue';

export default {
  components: {
    AppHeader,
    DayForecast,
    FavouriteButton
  },
  props: {
    locationId: {
      type: [Number, String],
      required: true
    }
  },
  computed: {
    isLoaded() {
      return this.$store.state.settings.isLoaded;
    },
    forecast() {
      return this.$store.state.forecast;
    },
    city() {
      return this.$store.state.locations.find(location => location.id === parseInt(this.locationId, 10));
    }
  },
  watch: {
    isLoaded() {
      this.$store.dispatch('locations/load', parseInt(this.locationId, 10));
      this.$store.dispatch('forecast/load', {locationId: this.locationId});
    }
  },
  mounted() {
    if (this.isLoaded) {
      this.$store.dispatch('locations/load', parseInt(this.locationId, 10));
      this.$store.dispatch('forecast/load', {locationId: this.locationId});
    }
  },
  methods: {
    favouriteLocation(value) {
      this.$store.dispatch('locations/favourite', {locationId: this.city.id, value});
    }
  }
};
</script>

<style lang="css">
/* On large screens, use the full width */
@media screen and (min-width: 1000px) {
  .forecast-container {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    grid-gap: .5rem;
  }
}
</style>
