<template lang="html">
  <div class="search">
    <AppHeader>Search</AppHeader>
    <p>Search for a city and select the one that best matches your request.</p>
    <div class="search__input-wrapper">
      <input v-model="search" type="search" class="search__input" @keyup="findCity">
      <button type="button" class="search__locate" @click="findMe">
        <UiIcon type="locate" />
      </button>
    </div>

    <div v-if="search.length >= 3 && suggestions" class="search__results">
      <div v-for="suggestion in suggestions" :key="suggestion.id" class="search__result" @click="go(suggestion.id)">
        {{ suggestion.name }}, {{ suggestion.country }}
      </div>
    </div>
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader.vue';
import ForecastDetails from '../components/ForecastDetails.vue';
import UiIcon from '../components/UiIcon.vue';

export default {
  components: {
    AppHeader,
    ForecastDetails,
    UiIcon
  },
  data: () => ({
    search: ''
  }),
  computed: {
    suggestions() {
      const regex = new RegExp(this.search, 'i');
      return this.$store.state.locations.filter(location => location.name.match(regex));
    }
  },
  methods: {
    findCity() {
      this.$store.dispatch('locations/search', {q: this.search})
        .catch(() => {
          // Do nothing, 404 errors occur when nothing is found and we just
          // want to suppress them
        });
    },
    findMe() {
      navigator.geolocation.getCurrentPosition(({coords}) => {
        this.$store.dispatch('locations/searchByLocation', {lat: coords.latitude, lng: coords.longitude}).then(location => {
          this.go(location.id);
        });
      });
    },
    go(locationId) {
      this.$router.push({name: 'forecast', params: {locationId}});
    }
  }
};
</script>

<style lang="css">
.search {
  text-align: center;
}

.search__input-wrapper {
  display: flex;
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}

.search__input {
  flex: 1;
  padding: .5rem;
  border: 1px solid #AAA;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
  font-size: inherit;
}

.search__locate {
  display: flex;
  min-width: 2rem;
  border: 1px solid #AAA;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  background-color: #EEE;
  font-size: 1.3rem;
  align-items: middle;
}

.search__results {
  margin-top: 1rem;
}

.search__result {
  margin-top: .5rem;
  padding: .5rem;
  background-color: hsla(0, 0%, 100%, 0.4);
  transition: all .2s;
  cursor: pointer;
}

.search__result:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
}
</style>
