<template lang="html">
  <div>
    <AppHeader>Settings</AppHeader>

    <p>Changes are saved automatically.</p>

    <div class="settings__item">
      <label class="settings__label" for="f-lang">Language</label>
      <select class="settings__dropdown" id="f-lang" :value="settings.lang" @input="save('lang', $event.target.value)">
        <option value="ar">Arabic</option>
        <option value="bg">Bulgarian</option>
        <option value="ca">Catalan</option>
        <option value="cz">Czech</option>
        <option value="de">German</option>
        <option value="el">Greek</option>
        <option value="en">English</option>
        <option value="fa">Persian (Farsi)</option>
        <option value="fi">Finnish</option>
        <option value="fr">French</option>
        <option value="gl">Galician</option>
        <option value="hr">Croatian</option>
        <option value="hu">Hungarian</option>
        <option value="it">Italian</option>
        <option value="ja">Japanese</option>
        <option value="kr">Korean</option>
        <option value="la">Latvian</option>
        <option value="lt">Lithuanian</option>
        <option value="mk">Macedonian</option>
        <option value="nl">Dutch</option>
        <option value="pl">Polish</option>
        <option value="pt">Portuguese</option>
        <option value="ro">Romanian</option>
        <option value="ru">Russian</option>
        <option value="se">Swedish</option>
        <option value="sk">Slovak</option>
        <option value="sl">Slovenian</option>
        <option value="es">Spanish</option>
        <option value="tr">Turkish</option>
        <option value="ua">Ukrainian</option>
        <option value="vi">Vietnamese</option>
        <option value="zh_cn">Chinese Simplified</option>
        <option value="zh_tw">Chinese Traditional</option>
      </select>
    </div>

    <div class="settings__item">
      <label class="settings__label" for="f-units">Units</label>
      <select class="settings__dropdown" id="f-units" :value="settings.units" @input="save('units', $event.target.value)">
        <option value="metric">Metric</option>
        <option value="imperial">Imperial</option>
        <option value="kelvin">Kelvin</option>
      </select>
    </div>
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader.vue';

export default {
  components: {
    AppHeader
  },
  computed: {
    settings() {
      return this.$store.state.settings.user;
    }
  },
  methods: {
    save(key, value) {
      this.$store.commit('settings/set', {key, value});
    }
  }
};
</script>

<style lang="css">
.settings__item {
  margin-top: 1rem;
}

.settings__label {
  display: block;
  font-weight: bold;
}

.settings__dropdown {
  display: block;
  width: 100%;
  margin-top: .5rem;
  padding: .5rem;
  border: 1px solid #AAA;
  border-radius: 5px;
  font-size: inherit;
  font-family: inherit;
}
</style>
