<template lang="html">
  <div class="header">
    <AppMenu :visible="showMenu" @close="showMenu = false" />
    <button @click="showMenu = true" class="header__action header__action--menu">
      <UiIcon type="menu" />
    </button>
    <h1 class="header__title">
      <slot />
    </h1>
    <span class="header__action">
      <slot name="action" />
    </span>
  </div>
</template>

<script>
import AppMenu from './AppMenu.vue';
import UiIcon from './UiIcon.vue';

export default {
  components: {
    AppMenu,
    UiIcon
  },
  props: {
    backTo: {
      required: false,
      default: null,
      type: Object
    }
  },
  data: () => ({
    showMenu: false
  })
};
</script>

<style lang="css">
.header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: .5rem solid hsla(0, 0%, 0%, 0.2);
  align-items: center;
}

.header__title {
  margin: 0;
  flex: auto;
  text-align: center;
}

.header__action {
  font-size: 2rem;
}

.header__action--menu {
  display: flex;
  border: 0;
  background: 0;
}
</style>
