<template lang="html">
  <div>
    <h2 class="day-header">
      {{ day.isToday ? 'Today' : dayOfWeek }}
      <WeatherIcon :icon="day.aggregate.weather.icon" />
      <span style="flex:auto;" />
      <small class="day-header__date">{{ date }}</small>
    </h2>
    <div class="day-stats">
      <div>🌡️ {{ day.aggregate.tempMin | round }}{{ tempUnits }}&ndash;{{ day.aggregate.tempMax | round }}{{ tempUnits }}</div>
      <div>💧 {{ day.aggregate.rainfall }}mm</div>
    </div>

    <ForecastDetails v-for="entry in day.slots" :forecast="entry" :key="entry.dt" />
  </div>
</template>

<script>
import ForecastDetails from './ForecastDetails.vue';
import WeatherIcon from './WeatherIcon.vue';

export default {
  components: {
    ForecastDetails,
    WeatherIcon
  },
  props: {
    day: {
      required: true,
      type: Object
    }
  },
  data: () => ({
    weekDays: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
  }),
  computed: {
    dayOfWeek() {
      return this.weekDays[new Date(this.day.date).getDay()];
    },
    date() {
      const date = new Date(this.day.date);
      return date.getDate() + '/' + (date.getMonth() + 1);
    },
    tempUnits() {
      return this.$store.getters['settings/tempUnits'];
    }
  }
};
</script>

<style lang="css">
.day-header {
  display: flex;
  padding-left: .25rem;
  padding-right: .25rem;
  align-items: center;
}

.day-header__date {
  font-size: 1rem;
  font-weight: normal;
}

.day-stats {
   display: flex;
   justify-content: space-between;
}
</style>
