<template lang="html">
  <span :class="{'favourite-button': true, 'favourite-button--selected': value}" tabindex="0" @click="$emit('input', !value)">
    <UiIcon :type="value ? 'star-filled' : 'star-empty'" />
  </span>
</template>

<script>
import UiIcon from './UiIcon.vue';

export default {
  components: {
    UiIcon
  },
  props: {
    value: {
      type: Number,
      required: true
    }
  }
};
</script>

<style lang="css">
.favourite-button {
  cursor: pointer;
  font-size: 0.8em;
}

.favourite-button--selected {
  color: goldenrod;
  filter: drop-shadow(0 0 1px #000);
}
</style>
