<template lang="html">
  <div :class="{'forecast': true, 'forecast--linked': isLinked}">
    <div v-if="showLocation">
      <strong>{{ forecast.name }}, {{ forecast.country }}</strong>
    </div>
    <WeatherIcon :icon="forecast.weather.icon" class="forecast__icon" />
    {{ forecast.weather.description }}
    <br>
    {{ forecast.temperature.average | round }}{{ tempUnits }}
    <div v-if="!showLocation" class="forecast__meta">
      {{ forecastTimeframe }}
    </div>
  </div>
</template>

<script>
import WeatherIcon from './WeatherIcon.vue';

export default {
  components: {
    WeatherIcon
  },
  props: {
    isLinked: {
      required: false,
      type: Boolean,
      default: false
    },
    showLocation: {
      required: false,
      type: Boolean,
      default: false
    },
    forecast: {
      required: true,
      type: Object
    }
  },
  computed: {
    tempUnits() {
      return this.$store.getters['settings/tempUnits'];
    },
    forecastTimeframe() {
      const start = this.forecast.start;
      const end = this.forecast.end;

      return start.getHours() + ':00–' + end.getHours() + ':00';
    }
  }
};
</script>

<style lang="css">
.forecast {
  margin-top: .5rem;
  padding: .5rem;
  text-align: left;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.forecast--linked {
  cursor: pointer;
}

.forecast--linked:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
}

.forecast__icon {
  float: left;
  margin-right: .5rem;
}

.forecast__meta {
  font-size: 0.9rem;
  color: #666;
}
</style>
