<template lang="html">
  <span role="presentation" class="weather-icon">
    {{ emoji }}
  </span>
</template>

<script>
export default {
  props: {
    icon: {
      required: true,
      type: String
    }
  },
  data: () => ({
    emojiMap: {
      '01d': '☀️',
      '01n': '🌙',
      '02d': '🌤️',
      '02n': '🌤️',
      '03d': '☁️',
      '03n': '☁️',
      '04d': '🌥️',
      '04n': '🌥️',
      '09d': '🌧️',
      '09n': '🌧️',
      '10d': '🌦️',
      '10n': '🌦️',
      '11d': '⛈️',
      '11n': '⛈️',
      '13d': '🌨️',
      '13n': '🌨️',
      '50d': '🌫️',
      '50n': '🌫️'
    }
  }),
  computed: {
    emoji() {
      return this.emojiMap[this.icon];
    }
  }
};
</script>

<style lang="css">
.weather-icon {
  font-size: 2rem;
}
</style>
